# Rust
*.rs linguist-language=Rust

# Java
*.java linguist-language=Java

# Web
*.html linguist-language=HTML
*.css linguist-language=CSS
*.js linguist-language=JavaScript

# Docker
Dockerfile linguist-language=Dockerfile

# Shells
*.sh linguist-language=Shell
*.bash linguist-language=Shell
*.ps1 linguist-language=PowerShell

#Ignore documentation and config files
*.md linguist-documentation
*.yml linguist-vendored
*.yaml linguist-vendored
*.json linguist-vendored
